<div class="about">
    <div class="about__img__container ">
        <div class="about__content grid">
            <div class="about__imggrid">
                <div class="about__gird1">
                    <img src="../../assets/Image/about3.jpg" alt="">
                    <img src="../../assets/Image/about2.jpg" alt="">
                </div>

                <div class="about__gird2">
                    <img src="../../assets/Image/about1.jpg" alt="">
                </div>

            </div>
            <div class="about__gird3">
                <span class="about__subtitle">Notre histoire</span>
                <h2 class="about__title">
                    Bienvenue Chez Ha My
                </h2>
                <p class="about__description">D'origine de Hai Duong, Viet Name et Livryenne depuis 14 ans. Nous avons
                    decidé de contribuer notre
                    talent de cuisine pour notre ville. La cusine vietnamienne est légère, peu grasse, et utilise de
                    nombreux légumes et herbes frais. Toutes les plats sont élaborés dans notre restaurant, à partir de
                    produits de base que nous sélectionnons chaque jour nous-même.
                </p>
            </div>
        </div>
    </div>
    <section class="about__section">
        <div class="about__container">
            <div class="line line-1">
                <div class="wave wave-1"
                    style="background-image: url(../../assets/Image/background/wave-animation/1.png);">
                </div>
            </div>

            <div class="line line-2">
                <div class="wave wave-2"
                    style="background-image: url(../../assets/Image/background/wave-animation/2.png);">
                </div>
            </div>

            <div class="line line-3">
                <div class="wave wave-3"
                    style="background-image: url(../../assets/Image/background/wave-animation/3.png);">
                </div>
            </div>
        </div>
    </section>
</div>