<section class="contact">
    <div class="contact__container">
        <div class="contact__content">
            <div class="contact__item">
                <h3 class="contact__title">Contact</h3>
                <div class="contact__item__content">
                    <i class="material-icons contact__icon">
                        room
                    </i>
                    <p class="contact__description">
                        16 Place de la liberation, 93190 Livry Gargan.
                    </p>
                </div>
                <div class="contact__item__content">
                    <i class="material-icons contact__icon">
                        local_phone
                    </i>
                    <p class="contact__description">
                        09 84 34 55 57
                    </p>
                </div>
                <div class="contact__item__content">
                    <i class="material-icons contact__icon">
                        phone_iphone
                    </i>
                    <p class="contact__description">
                        06 58 69 02 16
                    </p>
                </div>
                <div class="contact__item__content">
                    <i class="material-icons contact__icon">
                        phone_iphone
                    </i>
                    <p class="contact__description">
                        06 58 69 02 16
                    </p>
                </div>
                <div class="contact__item__content">
                    <i class="material-icons contact__icon">
                        email
                    </i>
                    <p class="contact__description">
                        lepetitlotusadm@gmail.com
                    </p>
                </div>
            </div>
        </div>
        <div class="contact__content">
            <div class="contact__open">
                <h3 class="contact__title">
                    Horaire
                </h3>
                <div class="open">
                    <p class="contact__description">Lundi - Samedi :</p>
                    <p class="contact__description">11h - 22h</p>
                </div>
                <div class="close">
                    <p class="contact__description">Dimache :</p>
                    <p class="contact__description">Fermer</p>
                </div>
            </div>
        </div>
    </div>
</section>