<section class="quality">
    <div class="quality__container">
        <div class="grid">
            <div class="quality__content">
                <div class="quality__img-container">
                    <img class="quality__img" src="../../assets/Image/icon/001-soup.png">
                </div>
                <div class="quality__text">
                    <h3>Excellent cuisine</h3>
                    <p>Pour votre bonheur nous avons sélectionné des meilleurs plats, cuisiner par le meilleur soin de
                        notre chef.</p>
                </div>
            </div>
            <div class="quality__content">
                <div class="quality__img-container">
                    <img class="quality__img" src="../../assets/Image/icon/002-food.png">
                </div>
                <div class="quality__text">
                    <h3>Meilleur ingrédient</h3>
                    <p>Les plats cuisinés entièrement sur place à partir de produits bruts. Les produits ont sélectionné
                        par nos soins.</p>
                </div>
            </div>
            <div class="quality__content">
                <div class="quality__img-container">
                    <img class="quality__img" src="../../assets/Image/icon/003-truck.png">
                </div>
                <div class="quality__text">
                    <h3>Livraison à votre domicile</h3>
                    <p>Retrouvez-vous sur l'application Deliveroo, ou simplement de nous appeler pour faites livrer
                        votre plats à votre domicile</p>
                </div>
            </div>
        </div>
    </div>
</section>