<section class="review">
    <!---------------------- BACKGROUND ---------------------->
    <div class="review__background">
    </div>


    <!---------------------- SLIDESHOW ---------------------->
    <div class="review__container">
        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">

                <!---------------------- INDICATORS ---------------------->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>

                <!---------------------- SLIDE---------------------->
                <div class="review__title">
                    <span>Avis</span>
                    <h2>Notres clients </h2>
                </div>
                <div class="carousel-item active review__items">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Des plats toujours aussi bons, riches et frais ! C'est très agréable
                                aussi de trouver un tel éventail de recettes de plats et de soupes vietnamiennes. Bun
                                cha ha noi, banh xeo, pho, bo bun, crevettes sel et poivres, nouilles croquantes aux
                                fruits de mer, Chao tom, difficile de m'arrêter sur une sélection, car j'adore tout!
                                Merci et continuez comme ça ! Dépaysement assuré ;)</p>
                            <div>
                                <h3 class="card-title">
                                    Croissy-Beaubourg
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item  review__items">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Frais et irresistible
                                Très bon restaurant dont j'avais entendu parlé depuis quelques semaines. Je suis content
                                d'avoir pu y aller je ne regrette pas. On sent que c'est une cuisine maison
                                traditionnelle, les ingrédients sont frais et ça glisse tout seul. J'ai pris un pho et
                                une salade fruit sur place c'était très bon. J'ai même décidé de prendre d'autres plats
                                à emporter, car on peut faire les deux sur place ou à emporter ce qui est très pratique.
                                Le service et l'atmosphère sont chaleureux comme seuls peuvent l'être de petits
                                restaurants comme celui la.</p>
                            <div>
                                <h3 class="card-title">
                                    Alexandre Grebowski
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item  review__items">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">Première commande les plats goûteux épicés savoureux excellent c’était
                                trop bon 😋
                                Merci beaucoup Hà My de Nous avoir fait partager cette bonne cuisine vietnamienne de
                                votre grand mère . bonne continuation à vous 🙏🏽</p>
                            <div>
                                <h3 class="card-title">
                                    TOURIA OURAOU
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="carousel-item">
            <img src="../../assets/Image/about1.jpg" class="d-block w-100 offre__img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/Image/about1.jpg" class="d-block w-100 offre__img" alt="...">
          </div> -->
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
        </div>
    </div>
</section>