<section class="partenaire">
    <div class="partenaire__container">
        <div class="partenaire__content">
            <div class="partenaire__title__container">
                <span class="partenaire__subtitle">
                    Livraison
                </span>
                <h2 class="partenaire__title">
                    Notre Partenaire
                </h2>
            </div>
            <div class="partenaire__items">
                <a href="#" class="partenaire__item">
                    <img src="../../assets/Image/partenaire/deliveroo.jpg" alt="" class="partenaire__logo">
                </a>
            </div>
        </div>
    </div>
</section>