<header>
    <div class="top__bar">
        <div class="top__barcontainer">
            <div class="top__list">
                <div class="top__content">
                    <p class="top__text">
                        <i class="uil uil-envelope-alt top__icon"></i> Mail:
                        <a href="lepetitlotusadm@gmail.com">lepetitlotusadm@gmail.com</a>
                    </p>
                </div>
                <div class="top__content">
                    <p class="top__text">
                        <i class="uil uil-phone top__icon"></i>Tel:
                        <a href="">06 58 69 02 16</a>
                    </p>
                </div>
            </div>
            <div class="top__list">
                <div class="top__content">
                    <i class="uil uil-facebook top__icon"></i>
                </div>
                <div class="top__content">
                    <p class="top__text">
                        <i class="uil uil-clock-three top__icon"></i>Ouverture: Lundi au Samedi 10h - 22h
                    </p>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light" id="navigateur">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">

                <!-- <i class="uil uil-list-ul nav__icon"></i> -->

                <div class="nav__button" [class.change]="button_toggle" (click)="clickEvent()" id="navbutton">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

            </button>
            <div class="collapse navbar-collapse nav__link__container" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section class="section hero">
    <div>
    </div>
</section>
