
<header>
<!-------------- TOPBAR -------------->
    <div class="top__bar">
        <div class="top__barcontainer">
            <div class="top__list">
                <div class="top__content">
                    <p class="top__text">
                        <i class="uil uil-envelope-alt top__icon"></i> Mail:&nbsp;
                        <a href="lepetitlotusadm@gmail.com">lepetitlotusadm@gmail.com</a>
                    </p>
                </div>
                <div class="top__content">
                    <p class="top__text">
                        <i class="uil uil-phone top__icon"></i>Tel:&nbsp;
                        <a href="">06 58 69 02 16</a>
                    </p>
                </div>
            </div>
            <div class="top__list top__list-reverse">
                <div class="top__content">
                    <i class="uil uil-facebook top__icon"></i>
                </div>
                <div class="top__content">
                    <p class="top__text">
                        <i class="uil uil-clock-three top__icon"></i>Ouverture: Lundi au Samedi 10h - 22h
                    </p>
                </div>
            </div>
        </div>
    </div>

<!-------------- NAVBAR -------------->
    <nav class="navbar navbar-expand-lg navbar-light" id="navigateur">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <div class="nav__button" [class.change]="button_toggle" (click)="clickEvent()" id="navbutton">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>

            </button>
            <div class="collapse navbar-collapse nav__link__container" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav__menu nav-link" href="#">Accueil</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav__menu nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__menu nav-link" href="#">Livraison</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__menu nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-------------- BACKGROUND HERO -------------->
<section class="section__hero hero">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="hero__title">
                CHEZ HA MY
            </h1>
        </div>
    </div>
</section>
