@import url('../../styles.css');

/* ================ TOPBAR ================== */
.top__bar{
    text-align: center;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid hsla(0,0%,100%,.4);
}

.top__text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: var(--whitecolor);
}

.top__text a {
    color: var(--whitecolor)  ;
}

.top__icon{
    margin-right: 5px;
    font-size: 20px;
    color: var(--whitecolor);
}





/* ================ NAVBAR ================== */
nav{
    position: fixed;
    padding: 0;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler {
    border: 2px solid white;
    margin: 5px;
    padding: 5px 5px 0px 5px;
}


.container-fluid{
    display: flex;
    justify-content: end;
    background-color: transparent;
    margin-top: 10px;
    margin-right: 5px;
}

/* .nav__icon{
    color: var(--whitecolor);
    margin: 10px 10px 0px 10px;
    font-size: 40px;
} */

.nav-item{
    display: flex;
    justify-content: center;
}

.nav-item a {
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    font-size: 15px;
    border-bottom: solid .5px green;
    line-height: 40px;
}

.nav__link__container{
    margin-top: 10px;
    background: white;
}




/* ================ BACKGROUND HEADER ================== */
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../assets/Image/font1.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    justify-content: center;
    align-items: center;
}




/* ================ STICKY ================== */
.sticky{
    position: fixed;
    overflow: hidden;
    z-index: 998;
    box-shadow: 0 7px 13px 0 rgb(0 0 0 / 20%);
    transition: 2s;
    top: 0px;
}


nav.sticky{
    max-width: auto;
    background-color: white;
    
}

.sticky .container-fluid{
    margin-top: 0;
    margin-right: 5px;
    
}


.sticky .navbar-toggler{
    border: none;
}

.sticky .bar1{
    background-color: black;
}

.sticky .bar2 {
    background-color: black;
}

.sticky .bar3 {
    background-color: black;
}




/* ================ NAVBUTTON MOBILE================== */
.nav__button {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}




/* ================ NAVBUTTON MOBILE================== */
.section__hero{
    display: flex;
}

.hero__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #fff,
    0 0 82px #fff,
    0 0 92px #fff,
    0 0 102px #fff,
    0 0 151px #fff;
}

.hero__title {
    font-family: var(--fontfamily2);
    font-size: 65px;
    color: green;
}



/* ================ Tablette ================== */
@media screen and (min-width: 1024px)
{
    /* ================ TOP BAR ================== */
    .top__barcontainer{
        max-width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .top__list{
        display: flex;
        flex-direction: row;
    }

    .top__list-reverse{
        flex-direction: row-reverse;
    }

    .top__icon{
        margin-left: 10px;
        margin-right: 10px;
    }

    /* ================ NAVBAR ================== */
    .nav__link__container{
        max-width: 900px;
        margin: auto;
        margin-top: 10px;
        background: transparent;
    }
    
    .nav-item a {
        padding: 0 10px 0 10px;
        font-size: 20px;
        border-bottom: none;
        color: white;
    }
    
    .nav__link__container{
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .navbar-nav a{
        display: block;
        color: black;
           text-transform: uppercase;
        transition: color   650ms;
    }
    
    .navbar-nav a:hover{
        color: green;
    }

    /* ================ HERO ================== */
        
    .section__hero{
        display: flex;
    }
    
    .hero__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
    }
    
    .hero__title {
        font-family: var(--fontfamily2);
        font-size: 150px;
        color: green;
    }
        
    
    
}



/* ================ PC ================== */
@media screen and (min-width: 1200px)
{
    
    /* ================ HERO ================== */
    .section__hero{
        display: flex;
    }

    .hero__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
    }

    .hero__title {
        font-family: var(--fontfamily2);
        font-size: 150px;
        color: green;
    }




}