<section class="offre">
  <!---------------------- BACKGROUND ---------------------->
  <div class="offre__background">
  </div>


  <!---------------------- SLIDESHOW ---------------------->
  <div class="offre__container">
    <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">

        <!---------------------- INDICATORS ---------------------->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>

        <!---------------------- SLIDE---------------------->
        <div class="offre__title">
          <span>Tous les lundi</span>
          <h2 >Offre sur Deliveroo</h2>
        </div>
        <div class="carousel-item active offre__items">
          <div class="card" >
            <img src="../../assets/Image/offre/offre1.jpg" class="d-block offre__img" alt="...">
            <div class="card-body">
              <h3 class="card-title">
                <span class="card-subtitletitle">10% offre</span>
                Bo bun + 1 boisson
              </h3>
              <p class="card-text"> Bo bun au boeuf ou poulet + 1 cannet au choix</p>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>
        </div>
        <div class="carousel-item offre__items">
          <div class="card" >
            <img src="../../assets/Image/offre/offre2.jpg" class="d-block offre__img" alt="...">
            <div class="card-body">
              <h3 class="card-title">
                <span class="card-subtitletitle">10% offre</span>
                Riz au Boeuf Loc lac + 1 boisson
              </h3>
              <p class="card-text"> Riz au Boeuf Loc lac + 1 cannet au choix</p>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>
        </div>
        <div class="carousel-item offre__items">
          <div class="card" >
            <img src="../../assets/Image/offre/offre3.jpg" class="d-block offre__img" alt="...">
            <div class="card-body">
              <h3 class="card-title">
                <span class="card-subtitletitle">10% offre</span>
                Sandwich + 1 boisson
              </h3>
              <p class="card-text"> Sandwich au porc ou poulet + 1 cannet au choix</p>
              <a href="#" class="btn btn-primary">Commander</a>
            </div>
          </div>
        </div>
        
        <!-- <div class="carousel-item">
          <img src="../../assets/Image/about1.jpg" class="d-block w-100 offre__img" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/Image/about1.jpg" class="d-block w-100 offre__img" alt="...">
        </div> -->
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
    </div>
  </div>
</section>