<section class="gallery">
    <div class="gallery__container">
        <div class="gallery__content">
            <div class="gallery__title__container">
                <span class="gallery__subtitle">
                    Gallery
                </span>
                <h3 class="gallery__title">
                    Notre Realisation
                </h3>
            </div>
            <div class="gallery__images">
                <div>
                    <img src="../../assets/Image/menu/beigenetcrevetterizvert.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/Image/menu/Nem.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/Image/menu/boeuflabot.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/Image/menu/phoboeuf.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/Image/menu/Soupes nouilles raviolis et crevettes.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/Image/menu/rizcrevette.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/Image/menu/bobuncrevette.jpg" alt="">
                </div>
                <div>
                    <img src="../../assets/Image/menu/bobunpoulet.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>